.container {
    background: #fffaf0; /* Beige orangé */
    border: 1px solid #2f4f4f; /* Vert foncé */
  }
  
  h2 {
    color: #8b4513; /* Marron */
  }
  
  button {
    background: #8b4513; /* Marron */
  }
  
  button:hover {
    background: #a0522d; /* Marron plus clair */
  }
  
  .snackbar-success {
    background-color: #4caf50; // Vert pour les succès
    color: white;
    max-width: 30%;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  
  .snackbar-error {
    background-color: #f44336; // Rouge pour les erreurs
    color: white;
    max-width: 30%;
    margin-left: auto!important;
    margin-right: auto!important;
  }