.container {
    background: #fffaf0; /* Beige orangé */
    border: 1px solid #2f4f4f; /* Vert foncé */
  }
  
  h2 {
    color: #8b4513; /* Marron */
  }
  
  button {
    background: #8b4513; /* Marron */
  }
  
  button:hover {
    background: #a0522d; /* Marron plus clair */
  }
  